*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  height: 100vh;
  width: 100%;
  background:linear-gradient(45deg, firebrick, skyblue,firebrick)
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.quote-box{
  width: 60rem;
  height:45rem;
  background:rgba(238, 238, 238, 0.781);
  border-radius: 5px;
  box-shadow: .8rem -.8em 1rem rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.quote{
  flex:1 0 100%;
  font-size: 2.8rem;
  border-radius: 5px;
  background:rgba(221, 255, 249, 0.5);
  height: 20rem;
}
.author{
  flex: 1 0 100%;
  font-size: 1.8rem;
  text-align: right;
  height: 5rem;
  border-radius: 5px;
  background:rgba(221, 255, 249, 0.5);
  padding-right:1rem;
}
.btn{
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
}